.bio {
	@include boxModel (10px, 40px);
	background-color: $colorAcento;
	p {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 2px;
		word-spacing: 3px;
		margin-top: 5px
	}
	@include xl(){
			@include flex(flex, row, center, flex-start)
		}
}


.gridbio{
	@include xl(){
		@include gridTemp (2,1);
		grid-template-areas: "fotos texto";
	}
}
.carousel {
	grid-area: fotos;
}
.texto {
	grid-area: texto;
}