.bio {
	@include boxModel (10px, 40px);
	background-color: $colorSecundario;
	border: 1px solid $colorAcento;
	border-radius: 6px;
	p {
		font-size: 20px;
		line-height: 30px;
		margin-top: 25px;
		@include xl(){
			letter-spacing: 1px;
			word-spacing: 3px;
			margin-left: 5px;
		}
	}
	@include xl(){
			@include flex(flex, row, center, flex-start)
		}
}


.gridbio{
	@include xl(){
		@include gridTemp (2,5);
		grid-template-areas: "fotos p1""fotos p2""fotos p3""fotos p4""fotos p5";
	}
}
.caroubio {
	grid-area: fotos;
	@include xl(){
		width: 700px;
	}
}
.p1 {
	grid-area: p1;
}
.p2 {
	grid-area: p2;
}
.p3 {
	grid-area: p3;
}
.p4 {
	grid-area: p4;
}
.p5 {
	grid-area: p5;
}