@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* GENERAL - NAVBAR  BODY FOOTER */
*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size: 50px;
    padding: 20px;
    margin: 20px;
    margin-top: 150px
}

ol, ul{
    padding-left: 0;
}
p{
    margin-bottom: 0;
}
.navbar-brand img{
    height: 80px;
    margin-left: 15px;
}

.navbar ul li{
    font-size: 20px;
}
a, a:visited {
    color: white;
}
a:hover, a:active {
    color: black;
}
footer{
    background-color: #2B3035;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0;
}
footer, ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
footer ul img{
    margin: 10px;
}

/* INDEX - PROXIMOS SHOWS */

.uno, .dos, .tres{
    padding: 40px;
    background-color: #2B3035;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.show img {
    width: 250px;
} 

/* Ultimo lanzamiento */

.ult-lanza img{
    width: 250px;
    border-radius: 12px;
}
.ult-lanza{
    padding: 20px;
    margin: 40px;
    background-color: #2B3035;
}
.ult-lanza p{
    font-family: serif;
    font-size: small;
    display: flex;
}
.laptra{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Discografia */

.disco{
    padding: 20px;
    background-color: #2B3035;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.disco img {
    height: 200px;
    width: 200px;
}
.plataformas img{
    height: 50px;
    width: 50px;
}
.disco p{
    font-family: serif;
    font-size: small;
}
.disco h2{
    padding: 20px;
}
.songs{
    padding: 25px;
}

/* Biografia */
.bio{
    padding: 10px;
    margin: 40px;
    background-color: #2B3035;
}
.bio img{
    width: 250px;
}
.bio p {
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

/* Contacto */

.gridcontacto{
    display: flex;
    justify-content: center;
}
.formulario{
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
    border-radius: 12px;
    text-align: left;
    background-color: #2B3035;
    line-height: 21px;
}

.item{
    padding: 5px;
}
.textarea{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
/* Media Queris */
@media (min-width:500px){
    .gridshows{
        display: grid;
        grid-template-areas:
        "title title "
        "uno dos"
        "tres cuatro";
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
    }
    .title1{
        grid-area: title;
    }
    .uno{
        grid-area: uno;
    }
    .dos{
        grid-area: dos;
    }
    .tres{
        grid-area: tres;
    }
    .show img {
        width: 230px;
        height: 300px;
    }
    .uno, .dos, .tres{
        margin: 10px;
    }

    .ult-lanza img{
        width: 350px;
    }
    .repro{
        width: 350px;
    }

    .disco img {
        height: 350px;
        width: 350px;
    }
    .plataformas img{
        height: 50px;
        width: 50px;
    }

    .bio img{
        width: 400px;
    }
}
@media (min-width:768px){
    .gridshows{
        display: grid;
        grid-template-areas:
        "title title title"
        "uno dos tres";
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto;
    }

    .ult-lanza img{
        width: 352px;
    }
    .ult-lanza{
        display: grid;
        grid-template-areas:
        "tapa repro"
        "laptra laptra";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 10px;
        gap: 5px;
    }
    .tapa{
        grid-area: tapa;
        display: flex;
        justify-self: flex-end;
    }
    .repro{
        grid-area: repro;
        height: 352px;
    }
    .laptra{
        grid-area: laptra;
    }

    .disco img {
        height: 200px;
        width: 200px;
    }
    .plataformas img{
        height: 50px;
        width: 50px;
    }
    .griddiscos{
        display: grid;
        grid-template-areas:
        "title title"
        "d1 d2"
        "d3 d4"
        "d5 d6";
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto 1fr 1fr 1fr;
    }
    .title2{
        grid-area: title;
    }
    .d1{
        grid-area: d1;
    }
    .d2{
        grid-area: d2;
    }
    .d3{
        grid-area: d3;
    }
    .d4{
        grid-area: d4;
    }
    .d5{
        grid-area: d5;
    }
    .d6{
        grid-area: d6;
    }

    .bio img{
        width: 600px;
    }
}
@media(min-width:992px){
    .gridshows{
        gap: 20px;
    }
    .show img {
        width: 350px;
        height: 500px;
    }

    .ult-lanza img{
        width: 450px;
    }
    .repro{
        height: 450px;
        width: 450px;
    }

    .disco img{
        height: 350px;
        width: 350px;
    }
    .plataformas img{
        height: 50px;
        width: 50px;
    }

    .bio img{
        width: 700px;
    }
}

@media(min-width:1200px){
        .show img {
        height: 550px;
        width: 400px;
    }

    .ult-lanza img{
        width: 600px;
    }
    .repro{
        height: 600px;
        width: 600px;
    }

    .disco img{
        height: 200px;
        width: 200px;
    }
    .plataformas img{
        height: 50px;
        width: 50px;
    }
    .griddiscos{
        display: grid;
        grid-template-areas:
        "title title title"
        "d1 d2 d3"
        "d4 d5 d6";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
    }
    .bio{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media(min-width:1450px){
    .disco img{
        height: 350px;
        width: 350px;
    }
    .plataformas img{
        height: 50px;
        width: 50px;
    }
}